* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	border: 2px solid;
	width: 70vw;
	height: max-content;
	margin: auto;
}

.title {
	text-align: center;
}

.subTitle {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.addBtn {
	display: block;
	margin: auto;
	width: 100px;
	height: 3vh;
}
