.section {
	height: 200px;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	align-items: center;
	padding: 5px;
}

.section > label {
	width: 90%;
	height: 100%;
	margin: 10px;
}
label > input {
	width: 90%;
	height: 40%;
	margin-top: 5px;
}

.section > button {
	width: 50%;
	height: 100%;
}
